/* Custom Properties */
:root{
  --link-color:            #d29393;
  
  --body-bg-color:         #5f619a;
  --body-text-color:       #9db0db;
  
  --table-bg-color:        #ffffff36;
  --table-text-color:      #1e1151a6;
  --table-border-color:    #1e1151a6;
  
  --hr-color:              var(--body-text-color);
  
  --timestamp-font-size:   50%;
}

/* Classes */
.autocomplete{
  position: relative;
}

.autocomplete-items{
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div{
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover{
  background-color: #e9e9e9;
}

.autocomplete-active{
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.link-button{
  background: none;
  border: none;
  padding: 0;
  font-family: arial, sans-serif;
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
}

.timestamp{
  font-size: var(--timestamp-font-size);
}

.wiki-menu{
  position: absolute;
  top: 0;
  width: 10em;
  left: 0;
}

.wiki-document{
  margin-left: 10em;
}

.logo-square-small{
  width: 8em;
  height: 8em;
  margin-left: 1em;
  margin-top: 1em;
}

.wiki-menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
}

/* IDs */

/* HTML Tags */
body{
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
}

table{
  background-color: var(--table-bg-color);
  color: var(--table-text-color);
  border: 1px solid var(--table-border-color);
  border-radius: 5px;
}

a{
  color: var(--link-color);
}

hr{
  border-color: var(--hr-color);
}